@charset "utf-8";
/* CSS Documesnt */

h1 {color: #000;}
h2 {color: #002ED3;}

.text-box h1 {
      font-family: 'Arial Black', sans-serif;
      font-size: 2rem;
      margin: 10px 0;
}

/* Using class and ID */
 .center { text-align: center; }
 .middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}
.smile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%; 
}

body{
	background-image: url("images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar ul{
	list-style: none;
	background: #ffffff;
	padding: 0;
	margin: 0;
	text-align: center;
	
}
.navbar li{
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: #3a93ff;
	width: 100px;
	display:block;
	padding: 25px 20px;
	font-size:15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.navbar a:hover{
	background: #b3d8ff
}

td {
  text-align: center;
}

.text-box {
  background-color: white;
  border: 2px solid #5DADE2; /* light blue border */
  padding: 30px 50px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 50px; /* shifts the box down */
}

.text-box h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  margin: 10px 0;
}

.explore-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5DADE2;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: #3498DB;
}

.secondtext-box {
  background-color: white;
  border: 2px solid #5DADE2; /* light blue border */
  padding: 30px 50px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 50px; /* shifts the box down */
  
}

.text-box h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  margin: 10px 0;
}