@charset "utf-8";
/* CSS Documesnt */

h1 {color: #000;}
h2 {color: #002ED3;}

body{
	background-image: url("images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar ul{
	list-style: none;
	background: #ffffff;
	padding: 0;
	margin: 0;
	text-align: center;
	
}
.navbar li{
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: #3a93ff;
	width: 100px;
	display:block;
	padding: 25px 20px;
	font-size:15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.navbar a:hover{
	background: #46AFFF
}

td {
  text-align: center;
}